.movies {
  padding-inline: 70px;
}

@media screen and (max-width: 1279px) {
  .movies {
    padding-inline: 30px;
  }
}

@media screen and (max-width: 768px) {
  .movies {
    padding-inline: 10px;
  }
}
