.auth {
  min-height: 100vh;
}

.auth__block {
  max-width: 396px;
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: calc(50vh - 253px);
  margin: 0 auto;
  flex-direction: column;
}

.auth__header-block {
  width: 100%;
}

.auth__logo {
  display: block;
  width: 38px;
  height: 38px;
}

.auth__logo:hover {
  opacity: 0.8;
}

.auth__header {
  width: 100%;
  margin: 40px 0;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.auth__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.auth__inputs-block {
  width: 396px;
  margin-bottom: 134px;
}

@media screen and (max-width: 1279px) {
  .auth__title {
    display: flex;
    margin: 60px 0 50px;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .auth__block {
    max-width: 260px;
    margin: 56px auto 30px;
  }

  .auth__inputs-block {
    width: 100%;
  }

  .auth__header-block {
    display: flex;
    justify-content: center;
  }

  .auth__header {
    display: flex;
    justify-content: center;
    margin: 50px 0 80px;
  }
}
