.navbar {
  display: flex;
  align-items: center;
}

.blur {
  top: 0;
  right: -100%;
  background-color: #000;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 0.8s;
}

.navbar__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  z-index: 2;
  transition: all 0.8s;
}

.navbar__element {
  margin-right: 20px;
  padding-top: 2px;
  border-bottom: 2px solid transparent;
}

.navbar__element_active {
  padding-bottom: 8px;
  padding-top: 10px;
  border-bottom: 2px solid #fff;
}

.navbar__element:hover {
  opacity: 0.7;
}

.navbar__element:first-of-type {
  display: none;
}

.navbar__element:last-of-type {
  margin-right: 0;
}

.navbar__profile {
  margin-left: 50px;
}

.navbar__profile:hover {
  opacity: 0.7;
}

.navbar__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
}

.navbar__profile-ico {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 6px;
  margin-left: 13px;
  background-color: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__profile-ico_on-main {
  background-color: #0f4157;
}

.sidebar-btn {
  cursor: pointer;
  display: none;
  visibility: hidden;
  opacity: 0;
  background: transparent;
}

.sidebar-btn:hover {
  opacity: 0.8;
}

.sidebar-close-btn {
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  margin: 0;
  width: 36px;
  height: 36px;
  top: 22px;
  right: -400%;
}

.sidebar-close-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .sidebar-close-btn {
    z-index: 2;
  }
  .sidebar-close-btn_active {
    visibility: visible;
    opacity: 1;
    transition: all 0.8s;
    top: 22px;
    right: 22px;
  }

  .navbar__list {
    background-color: var(--bg);
    top: 0;
    right: -200%;
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: 0;
    height: 100%;
    width: 520px;
  }

  .navbar__link {
    font-size: 18px;
    line-height: normal;
  }

  .navbar__text {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
  }

  .sidebar {
    right: 0;
  }

  .blur_active {
    right: 0;
    opacity: 0.3;
  }

  .navbar__element {
    margin: 0 0 28px 0;
    padding-top: 0;
  }

  .navbar__element_active {
    margin-bottom: 26px;
    padding-top: 0;
    padding-bottom: 4px;
  }

  .navbar__element:first-of-type {
    display: flex;
    margin: 159px 0 28px 0;
  }

  .navbar__element:last-of-type {
    margin-bottom: 0;
  }

  .navbar__profile {
    z-index: 2;
    width: 100px;
    height: 30px;
    margin: 0;
    position: fixed;
    bottom: 100px;
    right: -200%;
  }

  .navbar__profile_active {
    right: calc(520px - 310px);
    transition: all 0.8s;
  }

  .sidebar-btn {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}

@media screen and (max-width: 520px) {
  .navbar__element {
    margin: 0 0 24px 0;
  }

  .navbar__element_active {
    margin-bottom: 15px;
    padding-bottom: 7px;
  }

  .navbar__element:first-of-type {
    margin: 144px 0 24px 0;
  }

  .navbar__profile {
    bottom: 58px;
  }

  .navbar__profile_active {
    right: calc(100% - 50% - 50px);
    transition: all 0.8s;
  }

  .sidebar-close-btn {
    top: 20px;
    right: 18px;
  }

  .sidebar {
    width: 100%;
  }

  .blur_active {
    display: none;
  }
}
