:root {
  --bg: #202020;
  --auth-bg: #073042;
  --green: #3ddc84;
  --button: #4285f4;
  --saved: #ee3465;
  --toastify-color-progress-dark: var(--green);
}

#root {
  background-color: var(--bg);
}

@import url(./vendor/normalize.css);

@import url(./vendor/fonts/inter.css);
